Package: vyos-cfg-puppet-agent
Version: 0.2.2
Architecture: amd64
Maintainer: BeryJu.org <support@beryju.org>
Installed-Size: 31
Depends: puppet-agent, augeas-tools
Section: admin
Priority: extra
Homepage: https://git.beryju.org/BeryJu.org/vyos-build-puppet
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
